extends layout
.display
  block content
    div.transbox
      div
        p= message
        .row.flex-box
          .col-sm-6
            img(src="../images/AcadiaRobotics.jpg", style="height: 120px; width: 70%; margin-left: 10%")
          .col-sm-3
            img(src="../images/FIRSTLegoLeague.gif", style="height: 60px; margin-top: 25px")
          .col-sm-1
            img(src="../images/robofest_robotM.jpg", style="height: 100px; margin-top: 10px")
            //- p.text-center
            //-   b robots.acadiau.ca
          .col-sm-1
            img(src="../images/rpc-logo.jpeg", style="height: 100px; margin-top: 10px; margin-left: 20px")
        //- br
        .row.flex-box
          .col-sm-7#displayTitle(style="color:red")
          .col-sm-2#timerTitle Timer:
          .col-sm-3#countdown
        .row.flex-box
          include scoresHRC
          include scoresFLL
      script(type='text/javascript').
        window.onbeforeunload = function() {
            return "Dude, are you sure you want to leave? Think of the kittens!";
        }
