extends layout

block content
  .row
    h1= title
  .row
    .column
      a.button#display(href="/display" target="_blank") Display
    .column
      a.button#manager(href="/manager" target="_blank") Manager
    .column
      a.button#uploader(href="/upload" target="_blank") Score Uploader