extends layout

block content
  .row
    h1= title
  .row
    .column
      button#display(onclick="window.location='/display';") Display
    .column
      button#uploads(onclick="window.location='/uploads';") Uploads
