doctype html
html
  head
    title= title
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    //- link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel='stylesheet', href='/stylesheets/jquery.bracket.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Black+Ops+One')
    //- script( src='/javascripts/vendor/modernizr.js')
    script( src='/javascripts/vendor/jquery.js')
    script( src='/javascripts/xls.js')
    script( src='/javascripts/jquery.challonge.js')
    script( src='/javascripts/main.js')
  body
    //- nav(class='top-bar' data-topbar role='navigation')
    //-   ul(class='title-area')
    //-     li(class='name')
    //-       h1
    //-         a(href='/') Acadia Robotics Score App
    //-           em Alpha Version
    !{error_messages}
    !{success_messages}
    block content

    script( src='/socket.io/socket.io.js')
    //- script( src='/javascripts/vendor/jquery.js')
    //- script( src='/javascripts/foundation.min.js')
    script(type='text/javascript').
      //- $(document).foundation();
