extends layout

block content
  .row
    h1 Display Manager
  br
  .row.medium-uncollapse.large-collapse
    .small-4.columns
      fieldset
        legend Main Message
        em displayed as main title
        .small-9.columns
          input#displayTitleSet(type='text' name="displayTitleSet" placeholder='Display Title ...')
        .small-3.columns
          button.small#setDisplayTitle Set
    .small-8.columns
      fieldset
        legend Scoreboard manager
        .small-6.columns
          label Load Scoreboard
          button.small#loadScores(class="thoughtbot") Load Scoreboard
        .small-6.columns
          label Clear Scoreboard
          button.small#clearScores(class="thoughtbot") Clear Scoreboard
  .row.medium-uncollapse.large-collapse
    .small-4.columns
      fieldset
        legend Main Timer Control
        br
        button.small#start(class="thoughtbot") Start
        button.small#stop(class="thoughtbot") Stop
        button.small#reset(class="thoughtbot") Reset
    .small-4.columns
      fieldset
        legend Set Timer 
        em time in seconds
        .small-9.columns
          input#timerLength(type='text' name="timerLength" placeholder='Timer Length in seconds ...')
        .small-3.columns
          button.small#setTimer Set
    .small-4.columns
      fieldset
        legend Set Title
        em displayed beside the timer
        .small-9.columns
          input#timerTitleSet(type='text' name="timerTitleSet" placeholder='Timer Title ...')
        .small-3.columns
          button.small#setTitle Set
    
  script(type='text/javascript').
    window.onbeforeunload = function() {
        return "Dude, are you sure you want to leave? Think of the kittens!";
    }
  