extends layout

block content
  .row
    h1 Control Screen
  br
  .row
    h3 Main Timer Control
  .row
    button#start(class="thoughtbot") Start
    button#stop(class="thoughtbot") Stop
    button#reset(class="thoughtbot") Reset

  br
  .row
    h3 Set Timer 
    em time in seconds (ex: 2 minutes is 120 seconds)
  .row
    .small-3.columns
      .small-2.columns
      input#timerLength(type='text' name="timerLength" placeholder='Timer Length in seconds ...')
      .small-3.columns
        button#set Set
  br 
  .row
    h3 Upload Score File (.xlsx only)
  form#fileUpload(method="post" action="/uploads" enctype="multipart/form-data")
    .row.collapse
      .small-9.large-10.columns
        input(type='file' name="myFile" placeholder='Upload scores here ...')
        -if(message)
          small.error !{message}
        .small-2.columns
          button#upload Upload
  