extends layout

block content
  .wrapper
    div.row(style="background-color:whitesmoke;")
      .col-sm-6
        h3
          b Score Uploader
        fieldset
          legend Upload Score File (.csv only)
          form#fileUpload(method="post" action="/upload" enctype="multipart/form-data")
            .row
              .col-sm-6
                input(type='file' name="myFile" placeholder='Upload scores here ...')
                -if(message)
                  small.error !{message}
                .col-sm-2
                  button.btn.btn-success#upload(type='submit')  Upload
          em only 2 files are allowed: <br/> (hrc_scores.csv and fll_scores.csv)
