body {
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  /*color: #00B7FF;*/
}

#scoreboard {
  font-family: 'Black Ops One', cursive;

}

#countdown, #timerTitle {
  font-family: 'Black Ops One', cursive;
  font-size: 90px;
}