body {
  background: url(../images/Audience13-14.JPG) 30% 30% repeat;
  background-size: 120%;
}
em {
  font-size: 10px;
}
.row {
  /*max-width: 90%;*/
}
.display {
  overflow: hidden;
}
.background {
	width: 100%;
	height: 100%;
    /*background: url(../images/Audience13-14.JPG) 30% 30% repeat;*/
    /*border: 2px solid black;*/
}
.transbox {
    /*margin: 30px;*/
    /*background-color: #ffffff;*/
    /*border: 1px solid black;*/
    opacity: 0.9;
    font-weight: bold;
    /*color: #000000;*/
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.flex-box {
  background-color:white;
  border: 1px solid black;
  border-radius: 5px;
}

.wrapper {
  margin: 2%;
}

.small-space {
  height: 10px;
}

.border-right {
  border-right: 1px solid black;
}

@media screen and (max-width : 1023px)
{
  .score table tr td {
    font-size: 1rem;
  }

  .score table thead tr th {
    font-size: 0.9rem;
    font-weight: bold;
    color: darkred;
  }
  .transbox  {
    /*margin: 2%;*/
    font-weight: bold;
    color: #000000;
  }
  #scoreboard {
    font-family: 'Black Ops One', cursive;
    font-size: 30px;
  }

  #countdown, #timerTitle {
    font-family: 'Black Ops One', cursive;
    font-size: 30px;
  }
  #displayTitle {
    font-family: 'Black Ops One', cursive;
    font-size: 30px;
  }

}


@media screen and (max-width : 1024px)
{
  .score table tr td {
    font-size: 1rem;
  }

  .score table thead tr th {
    font-size: 1rem;
    font-weight: bold;
    color: darkred;
  }
  .transbox  {
    margin: 2%;
    font-weight: bold;
    color: #000000;
  }
  #scoreboard {
    font-family: 'Black Ops One', cursive;
    font-size: 30px;
  }

  #countdown, #timerTitle {
    font-family: 'Black Ops One', cursive;
    font-size: 40px;
  }
  #displayTitle {
    font-family: 'Black Ops One', cursive;
    font-size: 40px;
  }

}
@media screen and (min-width : 1204px)
{
  .score table tr td {
    font-size: 1.6rem;
  }

  .score table thead tr th {
    font-size: 1.4rem;
    font-weight: bold;
    color: darkred;
  }

  .transbox  {
    margin: 2%;
    font-weight: bold;
    color: #000000;
  }
  #scoreboard {
    font-family: 'Black Ops One', cursive;
    font-size: 30px;
  }

  #countdown, #timerTitle {
    font-family: 'Black Ops One', cursive;
    font-size: 60px;
  }
  #displayTitle {
    font-family: 'Black Ops One', cursive;
    font-size: 60px;
  }

}


/*.score table tr td {
  font-size: 1.6rem;
}

.score table thead tr th {
  font-size: 1.4rem;
  font-weight: bold;
  color: darkred;
}*/

.center {
    margin: auto;
    margin-bottom: 5px;
    width: 90%;
    /*border: 3px solid darkred;*/
    padding: 10px;
}
