body {
  background: url(../images/Audience13-14.JPG) 30% 30% repeat;
  background-size: 120%;
}
em {
  font-size: 10px;
}
.display {
    overflow: hidden;
}
.background {
	width: 100%;
	height: 100%;
    /*background: url(../images/Audience13-14.JPG) 30% 30% repeat;*/
    /*border: 2px solid black;*/
}
.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.9;
    font-weight: bold;
    color: #000000;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
.transbox  {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}
#scoreboard {
  font-family: 'Black Ops One', cursive;

}

#countdown, #timerTitle {
  font-family: 'Black Ops One', cursive;
  font-size: 60px;
}
#displayTitle {
  font-family: 'Black Ops One', cursive;
  font-size: 60px;
}
